<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create A Product</title>

</head>
<body>


    <div class = "main">
        <div class="row col s12"> </div>
          <div class = "selection">
              <div class = "container"> 
                <a href="/">Home</a>
                  <h1>Create A Product</h1>
              <div class="row">
                  <form action="/create/product" method="post" class="col s12">
                      <input type="text" name="name" placeholder="Product Name">

                      <select name="store_id">
                     <% for(var i = 0; i<stores.length; i++){ %>
                     <option value="<%= stores[i].id %>"> <%= stores[i].name %> </option>
                     <% } %>
                    </select>

                      <input type="text" name="description" placeholder="Product description">
                      <input type="number" step=".01" name="price" placeholder="Price">
                      </select>
                      
                      <input type="submit">
                    
                      </form>

                  </div>
            </div>
          </div>
</body>
</html>